<ion-view view-title="iStalker">

  <ion-content class="has-header">
    <img class="title-image" src="/img/spy.png" width="100" height="100" />
    <form name="searchTermForm">
      <div class="list card">
        <div class="item item-divider">Who do you want to Stalk?</div>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="stalkedEmail" placeholder="user@domain.com" ng-minlength="5" required>
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block" ng-disabled="searchTermForm.$invalid"
                ng-click="searchTerm(stalkedEmail)">
          Stalk
        </button>
      </div>
      <div class="list card">
        <div class="item item-divider">History</div>
        <div class="item item-text-wrap" ng-hide="historyList().length">
          No history
        </div>
        <div class="item item-text-wrap" ng-repeat="email in historyList()" ng-click="searchTerm(email)">
          {{email}}
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
