.bar {
  background-color: #40C0CB;
  color: #fff;
}

.pane {
  background-color: #F9F2E7;
}

.item-divider {
  background-color: #00A8C6;
  color: white;
}

.title-image {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
